html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100vh;
  background: url(../images/salas.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  float: left;
  position: fixed;
  bottom: 0px;
  top: -100px;
  left: -30px;
  margin: 10px;
  
  
  
  
  
  
   
  }

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index:1;
  
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #111;
 

}

nav ul li {
  display: inline-block;
  padding: 16px 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  



}
nav ul li a:hover{
  color: gray;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
       
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}


@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}



body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
 }
 
 .pimg1, .pimg2, .pimg3, .pimg4{
  position:relative;
  opacity:0.85;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
 
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
 }
 
 .pimg1{

  min-height:100%;
 }
 
 .pimg2{
  background-image:url(../images/giants.JPG);
  min-height:500px;
  
 }
 
 .pimg3{
  background-image:url(../images/twitch12.png);
  min-height:500px;
 

 }
 .pimg4{

  background-image:url(../images/IMG_0800.jpeg);
  min-height:500px;
}
 
 .section{
  text-align:center;
  padding:50px 80px;
 }
 
 .section-light{
  background-color:#f4f4f4;
  color:#666;
 }
 
 .section-dark{
  background-color:#282e34;
  color:#ddd;
 }
 
 .ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
 }
 
 .ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
 }
 
 .ptext .border.trans{
  background-color:transparent;
 }
 
 @media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
 }
 footer {
   background: #232323;
   color: #fff;
   text-align: center;
   padding: 6em 0;
 }
 
 /* Style all font awesome icons */
 a {
    text-decoration: none;
    color: #fff;
 }
 p > a:hover{
    color: #d9d9d9;
    text-decoration:  underline;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    margin:  1% 0 1% 0;
 }
 ._12 {
    font-size: 1.2em;
 }
 ._14 {
    font-size: 1.4em;
 }
 ul {
    padding:0;
    list-style: none;
 }
 .footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
 }
 .social-icon {
    color: #fff;
 }
 ul.social-icons {
    margin-top: 10px;
 }
 .social-icons li {
    vertical-align: top;
    display: inline;
    
 }
 .social-icons a {
    color: #fff;
    text-decoration: none;
 }
 .fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
 }
 .fa-facebook:hover {
    background-color: #3d5b99;
 }
 .fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
 }
 .fa-twitter:hover {
    background-color: #00aced;
 }
 
 .fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
 }
 .fa-linkedin:hover {
    background-color: #0073a4;
 }
 .fa-instagram {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
 }
 .fa-instagram:hover {
    background-color: purple;
 }


 
 
 
 
 
 
