@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


header {
  width: 100%;
  height: 100vh;
  background: url(../images/work.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  float: left;
  position: fixed;
  bottom: 0px;
  top: -100px;
  left: -30px;
  margin: 10px;
  
  
  
  
  
  
  
   
  }

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
z-index:1;

}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #111;
 

}

nav ul li {
  display: inline-block;
  padding: 16px 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  



}
nav ul li a:hover{
  color: gray;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}


@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}









* {
	box-sizing: border-box;
	transition: all ease-in-out 250ms;
}

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family: 'Titillium Web', sans-serif;

  font-weight:400;
  line-height:1.8em;
  color:#666;
}

img {
	max-width: 100%;
	height: auto;
}


.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}


/* Column system
=================== */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}


@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 16.6666%;
	}
}





/* typography
=================== */

h1 {
	font-weight: 300;
	font-size: 1.7rem;
	margin-top: 0;
	
}

p {
	margin-top: 0;
	line-height: 1.5;
}

p:last-of-type {
	margin-bottom: 0;
}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	font-weight: 900;
	margin-top: 1em;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: .9em;
}

.title-cta {
	margin: 0 0 .5em;
}

.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width:60rem) {

	p {
		font-size: 1.2rem;
		line-height: 1.6;
	}

	.title {
		font-size: 3.7rem;
	}
}

/* buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
	margin-top: 100px;
	
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

.button-small {
	font-size: .7rem;
	font-weight: 700;
}

.button-accent {
	color: #00ff6c;
	border-color: #00ff6c;
}

.button-accent:hover,
.button-accent:focus {
	background: #00ff6c;
	color: #232323;
}

.button-dark {
	color: #232323;
	border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
	background: #232323;
	color: #00ff6c;
}





/* home
=================== */


.pimg1, .pimg2, .pimg3 {
  position:relative;
  
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}





.section{
  text-align:center;
  padding:50px 80px;
}



.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;



}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


/* portfolio
=================== */

.portfolio {
	margin: 3em 0 0;
}

.port-item {
	margin: 0;
	position: relative;
}

.port-item img {
	display: block;
	
}
.img {
    position: relative;
    float: center;
    width: 510px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
	background-size:     cover;}

.port-desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background: rgba(0,0,0,.6);
	padding-bottom: 2em;
}

.port-desc p {
	margin: 1em;
}

@media (min-width: 37rem) {
	.port-item {
		width: 50%;
		float: left;
	}
}

@media (min-width: 60rem) {
	.port-item {
		width: 33.3333334%;
		overflow: hidden;
	}

	.port-desc {
		transform: translateY(150%);
	}

	.port-item:hover .port-desc {
		transform: translateY(0%);
	}
}






.button{
  background:#494591;
  padding:1em 2em;
  color:#fff;
  border:0;
	margin: 90px;
	
}

.button:hover{
  background:#333;
}

.modal{
  display:none;
  position: fixed;
  z-index:1;
  left: 0;
  top:0;
  height: 100%;
  width:100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content{
  background-color:gray;
  margin: 20% auto;
  width:70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;
}




footer {
  background: #232323;
  color: #fff;
  text-align: center;
  padding: 6em 0;
}

/* Style all font awesome icons */
a {
   text-decoration: none;
   color: #fff;
}
p > a:hover{
   color: #d9d9d9;
   text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin:  1% 0 1% 0;
}
._12 {
   font-size: 1.2em;
}
._14 {
   font-size: 1.4em;
}
ul {
   padding:0;
   list-style: none;
}
.footer-social-icons {
   width: 350px;
   display:block;
   margin: 0 auto;
}
.social-icon {
   color: #fff;
}
ul.social-icons {
   margin-top: 10px;
}
.social-icons li {
   vertical-align: top;
   display: inline;
   
}
.social-icons a {
   color: #fff;
   text-decoration: none;
}
.fa-facebook {
   padding:10px 14px;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition: .5s;
   background-color: #322f30;
}
.fa-facebook:hover {
   background-color: #3d5b99;
}
.fa-twitter {
   padding:10px 12px;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition: .5s;
   background-color: #322f30;
}
.fa-twitter:hover {
   background-color: #00aced;
}

.fa-linkedin {
   padding:10px 14px;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition: .5s;
   background-color: #322f30;
}
.fa-linkedin:hover {
   background-color: #0073a4;
}
.fa-instagram {
   padding:10px 9px;
   -o-transition:.5s;
   -ms-transition:.5s;
   -moz-transition:.5s;
   -webkit-transition:.5s;
   transition: .5s;
   background-color: #322f30;
}
.fa-instagram:hover {
   background-color: purple;
}

